body {
    background-color: #eeeeee;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}
b {
    color: #999999;
}
input {
    margin-bottom: 10px;
}  
input[type=text] {
    z-index: 2;
    width: 50%;
    padding: 12px 16px;
    margin: auto;
    border-width: 2px;
    border-radius: 2em 2em 0 0;
    border-style: solid;
    font-weight: 700;
    color: #0d0c0c;
    font-size: 14px;
    position: absolute;
    box-shadow: 0px 0px 2px #0d0c0c;
    min-width: 800px;
  }
#tasklist {
    margin-top: 125px;
    position: relative;
    list-style-type: none;   
    padding: 0px;
  }
.listitem {
    padding: 0px 10px;
    display: inline-flex;
    margin: 1px 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: -2px 2px 5px #0d0c0c;
    transition: all 210ms;
    text-shadow: -2px 2px 5px #0d0c0c;
    min-width: 800px;
}
.listitem p{
    margin: auto 20px;
    color: white;
    font-size: 28px;
    word-break: break-all;
}
.listitem i{
    padding: 16px 0;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.listitem .fas:hover {
    color: #d42121;
}
.listitem i:last-child {
    visibility: hidden;
    position: fixed;
    right: 10px;
}
.listitem:hover > i:last-child {
    visibility: visible;
  }
.listitem:hover {
    background-color: #404040;
    transform: scale(1.005);
}
.fa-circle:hover, .fa-check-circle:hover {
    color: #3df546;
}
.fa-check-circle {
    color: #21d42a;
}
#inputfooter {
    display: block;
    margin: auto;
    background-color: #dddddd;
    padding: 2px 16px;
    width: 50%;
    position: absolute;
    z-index: 2;
    top: 54px;
    border-radius: 0 0 2em 2em;
    box-shadow: -2px 2px 5px #0d0c0c;
    min-width: 800px;
}
#footerlist {
    list-style-type: none;
    display: inline-flex;
    margin: 5px 0px 0px 0px;
    padding-left: 100px;
}
#footerlist p {
    margin: 1px;
}
#footerlist li {
    display: flex;
    margin-right: 100px;
}
.rainbow-text {
    background: url(../Aufgabe4/Assets/bg.gif);
    background-size: auto;
    background-clip: border-box;
    background-clip: text;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
#taskmaster {
    top: 10px;
}
